.title {
    font-size: 80px;
}

.stocky-text-color {
    color: #3b3b3b;
}

.stocky-text-color h1 {
    font-size: 60px;
}

/*Profile Card 5*/
.profile-card-5 {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 15px;
    /* border: 2px solid transparent;
    border-image: linear-gradient(to right, #ffcc57, #d3508e) 1;
    transition: 0.2s; */
}

.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
}
.profile-card-5 .card-img-block img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}
.profile-card-5 h5 {
    color: black;
    font-weight: 600;
}
.profile-card-5 p {
    font-size: 14px;
    font-weight: 300;
}
.profile-card-5:hover {
    cursor: pointer;
    background: linear-gradient(to right, #ffcc57, #d3508e) border-box;
    color: white;
    transform: scale(1.05);
    transition: 0.2s;
    border-color: white;
}
.profile-card-5:hover .company-card-title {
    color: white;
}
.circle-card-companies {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 80px;
}

.circle-card-companies:hover {
    background-color: linear-gradient(to right, #ffcc57, #d3508e);
    background-clip: initial;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}
/*End Companies Cards*/
