.h-100 {
    height: auto !important;
}

/* ------------------ ADD NAVBAR STYLES ----------- */

.dashboard-navbar-container {
    position: absolute;
    left: 3vh;
    top: 2.5vh;
    width: 100px;
    background-color: white;
    border-radius: 20px;
    height: 95vh;
    -webkit-box-shadow: 6px 7px 5px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 6px 7px 5px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 6px 7px 5px 3px rgba(0, 0, 0, 0.2);
}

.dashboard-company-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-box-shadow: 6px 7px 5px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 6px 7px 5px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 6px 7px 5px -1px rgba(0, 0, 0, 0.12);
}

.dashboard-navbar-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
}

.dashboard-navbar-icons:hover,
.dashboard-icon-back:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform: 0.2s;
}

.dashboard-icon {
    font-size: 30px;
    color: black;
}

.dashboard-icon-back {
    padding-bottom: 20px;
}

.dashboard-page-container {
    position: absolute;
    left: 20vh;
    top: 2.5vh;
    width: 80vw;
    height: 95vh;
}

/* ------------------ ADD FORM STYLES ----------- */

.dashboard-add-icon {
    text-align: center;
    background: linear-gradient(90deg, #ffcc57, #d3508e);
    border-radius: 50%;
    font-size: 15px;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
}
.dashboard-add-icon:hover {
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;
}

.dashboard-add-form form {
    background-color: #fff;
    max-width: 400px;
    margin-top: 5px;
    padding: 50px 70px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.dashboard-add-form .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}
.dashboard-add-form .item:focus {
    box-shadow: 0 0 0 0.25rem rgba(211, 80, 142, 0.25);
    border-color: #d3508e;
}
