.registration-form-modal .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form-modal .item:focus {
    box-shadow: 0 0 0 0.25rem rgba(211, 80, 142, 0.25);
    border-color: #d3508e;
}

.registration-form-modal .social-media {
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: black;
    border-top: 1px solid #dee9ff;
}

.registration-form-modal.social-icons {
    margin-top: 16px;
    margin-bottom: 16px;
}

.registration-form-modal .social-icons a {
    font-size: 23px;
    margin: 0 3px;
    color: #ef802f;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
}

.registration-form-modal .social-icons a:hover {
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .registration-form-modal form {
        padding: 50px 20px;
    }

    .registration-form-modal .form-icon {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

.modal-signup-anchor {
    color: #ef802f;
}

.modal-signup-anchor:hover {
    color: #d3508e;
}

.registration-form .social-media {
    max-width: 600px;
    margin: auto;
    padding-top: 35px;
    text-align: center;
    color: black;
}

.registration-form .social-icons {
    margin-top: 16px;
    margin-bottom: 16px;
}

.registration-form .social-icons a {
    font-size: 23px;
    margin: 0 3px;
    color: #ef802f;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
}

.registration-form .social-icons a:hover {
    text-decoration: none;
    opacity: 0.6;
}
